h2 {
    text-align: center;
    color: black; 
        font-size: 70px;
           font-family: "Caveat", serif;
}
h1 {
    color: black;
    font-size: 30px;
           font-family: "Caveat", serif;
}

.whiteLink {
  color: white;
}

    header {
      text-align: center;
      background: url('sad');
      background-size:cover;
      color: white;
            padding: 20px 0px 0px 0px }
      
    }



.special {
  display: inline; 
  padding: 0px 10px 0px 10px;
}
article {
  max-width: 500px;
  padding: 0px 10px 0px 10px;
}

body {
    background-color:rgb(50, 131, 168);
}

ul {
      padding: 0px 10px 0px 10px;
}

li {
    display: inline;
      padding: 0px 10px 0px 10px;
}

    .headerline {
      padding: 10px;
      background: rgba(0,0,0,20);
       
    }
  .topHeader {
      display: inline;
      padding: 0px 10px 0px 10px;
      
    }
