h2 {
    text-align: center;
    color: blue; 
        font-size: 40px;
}
h1 {
    color: green;
    font-size: 30px;
}

.whiteLink {
  color: white;
}

header {
  text-align: center;
    background:
    background-size: cover;
    padding: 20px 0px 0px 0px }


  color: white;
}

.special {
  display: inline; 
  padding: 0px 10px 0px 10px;
}
article {
  max-width: 500px;
  padding: 0px 10px 0px 10px;
}

body {
    background-color:rgb(227, 158, 98);
}

ul {
      padding: 0px 10px 0px 10px;
}

li {
    display: inline;
      padding: 0px 10px 0px 10px;
}
